
table {
  width: 50%;

  border-collapse: collapse;

  border-spacing: 0;

  background-color: #f9f9f9;

  margin-top: 20px;
}


th {
  background-color: #151417;

  color: #fff;

  font-weight: bold;

  padding: 10px;

  text-align: left;
}


tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #fff;
}


td {
  padding: 8px;

  text-align: left;
}


tr:hover {
  background-color: #ddd;
}
