

/* Style the table */

table {

    width: 50%;

    border-collapse: collapse;

    border-spacing: 0;

    background-color: #f9f9f9;

    margin-top: 20px;

  }

 

  /* Style the table headings */

  th {

    background-color: #151417;

    color: #fff;

    font-weight: bold;

    padding: 10px;

    text-align: left;

  }

 

  /* Style the table rows */

  tr:nth-child(even) {

    background-color: #fff;

  }

 

  tr:nth-child(odd) {

    background-color: #fff;

  }

 

  /* Style the table cells */

  td {

    padding: 8px;

    text-align: left;

  }

 

  /* Add hover effect to rows */

  tr:hover {

    background-color: #ddd;

  }

 